
.icon-browser:before { content: '\e800'; } /* '' */
.icon-bottom-arrow:before { content: '\e801'; } /* '' */
.icon-box2:before { content: '\e802'; } /* '' */
.icon-bluetooth:before { content: '\e803'; } /* '' */
.icon-bookmarks:before { content: '\e804'; } /* '' */
.icon-calculator:before { content: '\e805'; } /* '' */
.icon-call:before { content: '\e806'; } /* '' */
.icon-box1:before { content: '\e807'; } /* '' */
.icon-camera:before { content: '\e808'; } /* '' */
.icon-car:before { content: '\e809'; } /* '' */
.icon-cart:before { content: '\e80a'; } /* '' */
.icon-cash:before { content: '\e80b'; } /* '' */
.icon-chat:before { content: '\e80c'; } /* '' */
.icon-check:before { content: '\e80d'; } /* '' */
.icon-clock:before { content: '\e80e'; } /* '' */
.icon-close:before { content: '\e80f'; } /* '' */
.icon-close-circle:before { content: '\e810'; } /* '' */
.icon-crop:before { content: '\e811'; } /* '' */
.icon-download:before { content: '\e812'; } /* '' */
.icon-file:before { content: '\e813'; } /* '' */
.icon-filter:before { content: '\e814'; } /* '' */
.icon-gleam:before { content: '\e815'; } /* '' */
.icon-graph2:before { content: '\e816'; } /* '' */
.icon-graph3:before { content: '\e817'; } /* '' */
.icon-monitor:before { content: '\e818'; } /* '' */
.icon-next:before { content: '\e819'; } /* '' */
.icon-drawer:before { content: '\e81a'; } /* '' */
.icon-coffee:before { content: '\e81b'; } /* '' */
.icon-door-lock:before { content: '\e81c'; } /* '' */
.icon-display1:before { content: '\e81d'; } /* '' */
.icon-display2:before { content: '\e81e'; } /* '' */
.icon-exapnd2:before { content: '\e81f'; } /* '' */
.icon-expand1:before { content: '\e820'; } /* '' */
.icon-graph:before { content: '\e821'; } /* '' */
.icon-date:before { content: '\e822'; } /* '' */
.icon-folder:before { content: '\e823'; } /* '' */
.icon-gift:before { content: '\e824'; } /* '' */
.icon-diamond:before { content: '\e825'; } /* '' */
.icon-delete-user:before { content: '\e826'; } /* '' */
.icon-key:before { content: '\e827'; } /* '' */
.icon-film:before { content: '\e828'; } /* '' */
.icon-cup:before { content: '\e829'; } /* '' */
.icon-junk:before { content: '\e82a'; } /* '' */
.icon-comment:before { content: '\e82b'; } /* '' */
.icon-prev:before { content: '\e82c'; } /* '' */
.icon-hourglass:before { content: '\e82d'; } /* '' */
.icon-id:before { content: '\e82e'; } /* '' */
.icon-info:before { content: '\e82f'; } /* '' */
.icon-cloud-download:before { content: '\e830'; } /* '' */
.icon-cloud-upload:before { content: '\e831'; } /* '' */
.icon-magic-wand:before { content: '\e832'; } /* '' */
.icon-magnet:before { content: '\e833'; } /* '' */
.icon-lintern:before { content: '\e834'; } /* '' */
.icon-gym:before { content: '\e835'; } /* '' */
.icon-look:before { content: '\e836'; } /* '' */
.icon-cloud:before { content: '\e837'; } /* '' */
.icon-loop:before { content: '\e838'; } /* '' */
.icon-link:before { content: '\e839'; } /* '' */
.icon-global:before { content: '\e83a'; } /* '' */
.icon-joy:before { content: '\e83b'; } /* '' */
.icon-map:before { content: '\e83c'; } /* '' */
.icon-keypad:before { content: '\e83d'; } /* '' */
.icon-graph1:before { content: '\e83e'; } /* '' */
.icon-like:before { content: '\e83f'; } /* '' */
.icon-like2:before { content: '\e840'; } /* '' */
.icon-lock:before { content: '\e841'; } /* '' */
.icon-flag:before { content: '\e842'; } /* '' */
.icon-more:before { content: '\e843'; } /* '' */
.icon-note2:before { content: '\e844'; } /* '' */
.icon-male:before { content: '\e845'; } /* '' */
.icon-musiclist:before { content: '\e846'; } /* '' */
.icon-drop:before { content: '\e847'; } /* '' */
.icon-edit:before { content: '\e848'; } /* '' */
.icon-mouse:before { content: '\e849'; } /* '' */
.icon-music:before { content: '\e84a'; } /* '' */
.icon-map-2:before { content: '\e84b'; } /* '' */
.icon-map-marker:before { content: '\e84c'; } /* '' */
.icon-next-2:before { content: '\e84d'; } /* '' */
.icon-moon:before { content: '\e84e'; } /* '' */
.icon-left-arrow:before { content: '\e84f'; } /* '' */
.icon-study:before { content: '\e850'; } /* '' */
.icon-light:before { content: '\e851'; } /* '' */
.icon-micro:before { content: '\e852'; } /* '' */
.icon-diskette:before { content: '\e853'; } /* '' */
.icon-notebook:before { content: '\e854'; } /* '' */
.icon-disk:before { content: '\e855'; } /* '' */
.icon-mail-open-file:before { content: '\e856'; } /* '' */
.icon-helm:before { content: '\e857'; } /* '' */
.icon-female:before { content: '\e858'; } /* '' */
.icon-credit:before { content: '\e859'; } /* '' */
.icon-home:before { content: '\e85a'; } /* '' */
.icon-mail-open:before { content: '\e85b'; } /* '' */
.icon-help1:before { content: '\e85c'; } /* '' */
.icon-help2:before { content: '\e85d'; } /* '' */
.icon-hammer:before { content: '\e85e'; } /* '' */
.icon-culture:before { content: '\e85f'; } /* '' */
.icon-piggy:before { content: '\e860'; } /* '' */
.icon-plus:before { content: '\e861'; } /* '' */
.icon-plugin:before { content: '\e862'; } /* '' */
.icon-copy-file:before { content: '\e863'; } /* '' */
.icon-headphones:before { content: '\e864'; } /* '' */
.icon-eyedropper:before { content: '\e865'; } /* '' */
.icon-pendrive:before { content: '\e866'; } /* '' */
.icon-phone:before { content: '\e867'; } /* '' */
.icon-mute:before { content: '\e868'; } /* '' */
.icon-news-paper:before { content: '\e869'; } /* '' */
.icon-photo-gallery:before { content: '\e86a'; } /* '' */
.icon-photo:before { content: '\e86b'; } /* '' */
.icon-right-arrow:before { content: '\e86c'; } /* '' */
.icon-safe:before { content: '\e86d'; } /* '' */
.icon-paper-plane:before { content: '\e86e'; } /* '' */
.icon-paperclip:before { content: '\e86f'; } /* '' */
.icon-rocket:before { content: '\e870'; } /* '' */
.icon-pen:before { content: '\e871'; } /* '' */
.icon-ribbon:before { content: '\e872'; } /* '' */
.icon-network:before { content: '\e873'; } /* '' */
.icon-share:before { content: '\e874'; } /* '' */
.icon-shield:before { content: '\e875'; } /* '' */
.icon-shopbag:before { content: '\e876'; } /* '' */
.icon-shuffle:before { content: '\e877'; } /* '' */
.icon-refresh:before { content: '\e878'; } /* '' */
.icon-repeat:before { content: '\e879'; } /* '' */
.icon-refresh-cloud:before { content: '\e87a'; } /* '' */
.icon-print:before { content: '\e87b'; } /* '' */
.icon-star:before { content: '\e87c'; } /* '' */
.icon-server:before { content: '\e87d'; } /* '' */
.icon-science:before { content: '\e87e'; } /* '' */
.icon-scissors:before { content: '\e87f'; } /* '' */
.icon-search:before { content: '\e880'; } /* '' */
.icon-target:before { content: '\e881'; } /* '' */
.icon-ticket:before { content: '\e882'; } /* '' */
.icon-plug:before { content: '\e883'; } /* '' */
.icon-timer:before { content: '\e884'; } /* '' */
.icon-tools:before { content: '\e885'; } /* '' */
.icon-less:before { content: '\e886'; } /* '' */
.icon-medal:before { content: '\e887'; } /* '' */
.icon-sun:before { content: '\e888'; } /* '' */
.icon-stopwatch:before { content: '\e889'; } /* '' */
.icon-switch:before { content: '\e88a'; } /* '' */
.icon-signal:before { content: '\e88b'; } /* '' */
.icon-power:before { content: '\e88c'; } /* '' */
.icon-note:before { content: '\e88d'; } /* '' */
.icon-paint:before { content: '\e88e'; } /* '' */
.icon-smile:before { content: '\e88f'; } /* '' */
.icon-speaker:before { content: '\e890'; } /* '' */
.icon-paint-bucket:before { content: '\e891'; } /* '' */
.icon-mail:before { content: '\e892'; } /* '' */
.icon-pin:before { content: '\e893'; } /* '' */
.icon-plane:before { content: '\e894'; } /* '' */
.icon-menu:before { content: '\e895'; } /* '' */
.icon-portfolio:before { content: '\e896'; } /* '' */
.icon-glasses:before { content: '\e897'; } /* '' */
.icon-leaf:before { content: '\e898'; } /* '' */
.icon-settings:before { content: '\e899'; } /* '' */
.icon-radio:before { content: '\e89a'; } /* '' */
.icon-play:before { content: '\e89b'; } /* '' */
.icon-upload:before { content: '\e89c'; } /* '' */
.icon-airplay:before { content: '\e89d'; } /* '' */
.icon-albums:before { content: '\e89e'; } /* '' */
.icon-angle-down:before { content: '\e89f'; } /* '' */
.icon-angle-left:before { content: '\e8a0'; } /* '' */
.icon-angle-right:before { content: '\e8a1'; } /* '' */
.icon-angle-up:before { content: '\e8a2'; } /* '' */
.icon-vector:before { content: '\e8a3'; } /* '' */
.icon-video:before { content: '\e8a4'; } /* '' */
.icon-user-female:before { content: '\e8a5'; } /* '' */
.icon-angle-up-circle:before { content: '\e8a6'; } /* '' */
.icon-arc:before { content: '\e8a7'; } /* '' */
.icon-config:before { content: '\e8a8'; } /* '' */
.icon-attention:before { content: '\e8a9'; } /* '' */
.icon-back-2:before { content: '\e8aa'; } /* '' */
.icon-wristwatch:before { content: '\e8ab'; } /* '' */
.icon-usb:before { content: '\e8ac'; } /* '' */
.icon-add-user:before { content: '\e8ad'; } /* '' */
.icon-back:before { content: '\e8ae'; } /* '' */
.icon-unlock:before { content: '\e8af'; } /* '' */
.icon-world:before { content: '\e8b0'; } /* '' */
.icon-up-arrow:before { content: '\e8b1'; } /* '' */
.icon-alarm:before { content: '\e8b2'; } /* '' */
.icon-album:before { content: '\e8b3'; } /* '' */
.icon-compass:before { content: '\e8b4'; } /* '' */
.icon-wine:before { content: '\e8b5'; } /* '' */
.icon-trash:before { content: '\e8b6'; } /* '' */
.icon-umbrella:before { content: '\e8b7'; } /* '' */
.icon-user:before { content: '\e8b8'; } /* '' */
.icon-voicemail:before { content: '\e8b9'; } /* '' */
.icon-volume1:before { content: '\e8ba'; } /* '' */
.icon-volume2:before { content: '\e8bb'; } /* '' */
.icon-angle-left-circle:before { content: '\e8bc'; } /* '' */
.icon-wallet:before { content: '\e8bd'; } /* '' */
.icon-way:before { content: '\e8be'; } /* '' */
.icon-refresh-2:before { content: '\e8bf'; } /* '' */
.icon-bandaid:before { content: '\e8c0'; } /* '' */
.icon-battery:before { content: '\e8c1'; } /* '' */
.icon-anchor:before { content: '\e8c2'; } /* '' */
.icon-bell:before { content: '\e8c3'; } /* '' */
.icon-bicycle:before { content: '\e8c4'; } /* '' */
.icon-angle-right-circle:before { content: '\e8c5'; } /* '' */
.icon-angle-down-circle:before { content: '\e8c6'; } /* '' */
.icon-ball:before { content: '\e8c7'; } /* '' */